<app-admin-nav></app-admin-nav>
<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Lista de Usuarios Registrados</h1>

  <!-- Filtro de Usuarios -->
  <div class="mb-6">
    <input
      type="text"
      placeholder="Filtrar Usuarios"
      class="p-2 border border-gray-300 rounded-lg w-full"
    
    />
  </div>

  <!-- Lista de Usuarios en formato de tarjetas -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let user of dataSource.filteredData"
      class="bg-white p-4 rounded-lg shadow-md flex flex-col items-center"
    >
      <img
        src="https://via.placeholder.com/100"
        alt="User Avatar"
        class="w-24 h-24 mb-4 rounded-full"
      />
      <h2 class="text-lg font-semibold">{{ user.userName }}</h2>
      <p class="text-gray-500">{{ user.name }}</p>
      <button
        class="mt-4 bg-pink-500 hover:bg-pink-600 text-white py-2 px-4 rounded-lg"
        (click)="viewProfile(user)"
      >
        Ver Perfil
      </button>
    </div>
  </div>

  <!-- Botón de Exportar CSV -->
  <div class="mt-6 text-right">
    <button
      class="bg-pink-500 hover:bg-pink-600 text-white py-2 px-6 rounded-lg"
      (click)="exportCSV()"
    >
      Exportar Lista de Usuarios en CSV
    </button>
  </div>
</div>
