/* Contenedor principal */
.container {
  background-color: #E6E0D1;
}

h1{
  color: #531F33;
  text-align: center;
  margin-bottom: 20px;

}
/* Estilos de la tarjeta de perfil */
.plot {
  display: flex;
  border-radius: 20px;
  padding-left: 5%;
  padding-right: 5%;
  width: 90%;
  background-color: #E6E0D1;
}

/* Sección de la foto y el nombre */
.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  text-align: center;
}

.photo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #8ecff4;
  margin-bottom: 10px;
}

.photo h3 {
  font-size: 1.2rem;
  color: #333;
  font-weight: 600;
  margin-top: 10px;
}


/* Alineación de columnas de información */
.info {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 12%;
}

.f-info, .s-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 22%;
}

label {
  font-weight: bold;
  color: #61234e;
}

input[type="text"] {
  padding: 8px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 8px;
  color: #531F33;
  width: 100%;
}

.nivel-idioma {
  background-color: #ff4081;
  color: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  width: 50%;
}
.rating{
  background-color: #D9D9D9;
  padding: 8%;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  gap: 5%;
  color: #531F33;
}
.content-title{
  font-weight: lighter;
}
.score{
  margin-left: auto;
}
/* Sección de puntajes */
.s-info .scores {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.score-item {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 8px;
  border-radius: 8px;
  justify-content: space-between;
}

.score-item h5 {
  font-size: 1rem;
  color: #333;
  margin: 0;
}

.stars {
  color: #ff4081;
  font-size: 1rem;
}
.back-button {
  font-size: 24px;
  color: #4a4a4a;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 1%;
}

.title{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}


