/* Centrado de la pantalla */
.bg {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0074cc; /* Color de fondo azul */
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    margin: auto;
    margin-top: 30vh;
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 320px;
  }
  
  .logo {
    width: 120px;
    margin-bottom: 20px;
  }
  
  .welcome-text {
    color: white;
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  .submit-button {
    background-color: #ff4081; /* Color del botón rosa */
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #ff5f93; /* Color más oscuro al pasar el cursor */
  }
  
  /* Estilo adicional para los errores */
  .invalid-feedback {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    text-align: left;
  }
  