<nav class="bg-blue-600 p-4 text-white">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-xl font-bold">
        <a href="#" class="hover:text-gray-200">Admin Panel</a>
      </div>
      <ul class="flex space-x-4">
        <li><a routerLink="/home" class="hover:text-gray-200">Inicio</a></li>
        <li><a routerLink="/content-admin" class="hover:text-gray-200">Gestión de Contenidos</a></li>
        <li><a routerLink="/payment-admin" class="hover:text-gray-200">Gestión de Pagos</a></li>
        <li><a routerLink="/users" class="hover:text-gray-200">Gestión de Usuarios</a></li>
      </ul>
    </div>
  </nav>
  