header {
  background-color: #276A9D;
  color: #D9D9D9;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 20px;
}
h1{
  font-size: 32px;
}
.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: space-between;*/
  height: 75px;
  padding: 0 20px;
}

.header-title{
  text-align: right;
  font-size: 28px;
  width: 33%;
}
.header-logo {
  /*width: 60px;*/
  width: 20%;
  text-align: left;
  margin-right: 20px;

}
.header-logo img{
  width: 60px;
  margin-right: 20px;

}

.header-right{
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}

.header-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hr-1 a, .hr-2 a{
  color: #D9D9D9;
  text-decoration: none;;
}

.hr-1,  .hr-2{
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

/*Ãconos */
.hr-1 img, .hr-2 img{
  width: 35px;
}

.hr-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-profile{
  padding-left: 25px;
  width: 14%;
  display: flex;
  justify-content: center;
}

.header-profile img{
  width: 60px;
}
