<app-admin-nav></app-admin-nav>
<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold mb-4">Gestión de Contenidos</h1>

  <!-- Filtro de Contenidos -->
  <div class="mb-6">
    <input
      type="text"
      placeholder="Buscar Contenido"
      class="p-2 border border-gray-300 rounded-lg w-full"
    />
  </div>

  <!-- Cabecera de la tabla -->
  <div class="grid grid-cols-6 bg-gray-100 p-4 rounded-lg font-semibold text-gray-600">
    <div class="col-span-1">Título</div>
    <div class="col-span-2">Descripción</div>
    <div class="col-span-1">Tema</div>
    <div class="col-span-1">Tipo</div>
    <div class="col-span-1">Año</div>
  </div>

  <!-- Lista de Contenidos en formato de tabla usando div -->
  <div class="grid gap-y-4">
    <div
      *ngFor="let content of dataSource.data"
      class="grid grid-cols-6 bg-white p-4 rounded-lg shadow-md text-gray-700"
    >
      <!-- Cada uno de estos divs actúa como una "celda" de la tabla -->
      <div class="col-span-1">{{ content.title }}</div>
      <div class="col-span-2">{{ content.description }}</div>
      <div class="col-span-1">{{ content.theme }}</div>
      <div class="col-span-1">{{ content.type }}</div>
      <div class="col-span-1">{{ content.year }}</div>
    </div>
  </div>

  <!-- Botón de Exportar CSV -->
  <div class="mt-6 text-right">
    <button
      class="bg-pink-500 hover:bg-pink-600 text-white py-2 px-4 rounded-lg"
    >
      Exportar Lista de Contenidos en CSV
    </button>
  </div>
</div>
