.edit-material-container {
  background-color: #E6E0D1;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.container{
  background-color: #E6E0D1;
}
h1 {
  color: #531F33;
  margin-bottom: 16px;

}
mat-label{
  color:#531F33;

}

.levels{
  color: #531F33;
  font-size: 16px;
}
.form-container {
  background-color: #e8e8e8;
  padding: 18px;
  border-radius: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-group label {
  font-size: 14px;
  color: #531F33;
  margin-bottom: 4px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 96%;
}
.form-group input[type="radio"] {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
}
.form-group input[type="radio"]:checked {
  background-color: #E7337D;
}
.options {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}
label{
  color: #531F33;
  font-size: 16px;
}
.options label {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 8px;

}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}

.btn {
  padding: 10px;
  font-size: 14px;
  border: none;
  color: #E6E0D1;
  cursor: pointer;
  border-radius: 4px;
  background-color: #E7337D;

}
textarea, input{
  font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #531F33;
}


.back-button {
  font-size: 24px;
  color: #4a4a4a;
  background: none;
  border: none;
  cursor: pointer;
  padding-left: 1%;
}

.header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

