@import url('https://fonts.cdnfonts.com/css/cocogoose');

html, body { height: 100%; }
body { margin: 0;  background-color: #E6E0D1; }

/* Color Variables */
:root {
  --t-blue: #276A9D;
  --t-white: #E6E0D1;
  --t-platinum: #D9D9D9;
  --t-wine: #531F33;
  --t-rose: #E7337D;
}

/* Font Settings */
h1 {
  font-family: 'COCOGOOSE', sans-serif !important;
  font-weight: lighter;
  margin: 0;
  font-size: 30px ;
}

h2, h3, h4, h5, h6, p, span, a, li, label, input, button, div {
  font-family: 'Gill Sans MT', sans-serif !important;
  margin: 0;

}
.header{
  font-weight: lighter !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
