<app-admin-nav></app-admin-nav>
<div class="admin-container">

  <header class="header">
    <div class="header-title">TALKIA</div>
    <nav class="header-right">
      <div class="hr-1">
        <a [routerLink]="'/'" href="#" class="hr-item">
          <img src="/img/home_logo.png">Inicio</a>
      </div>
      <div class="hr-2">
        <a href="#" class="hr-item">
          <img src="/img/setting_logo.png">Ajustes</a>
      </div>
    </nav>
    <div class="header-profile"><a> <img src="/img/profile_logo.png" alt=""></a></div>
  </header>
  <section class="menu">
    <h2>¡Bienvenido a TALKIA admin!</h2>
  </section>
  <section class="admin-menu">
    <a [routerLink]="'users'" class="menu-item">
      <img src="/img/users_logo.png"> Usuarios</a>
    <a [routerLink]="'contents'" class="menu-item">
      <img src="/img/contentsAdmin_logo.png"> Gestión de Recursos</a>
    <a [routerLink]="'quizzes'" class="menu-item">
      <img src="/img/quizzes_logo.png"> Cuestionarios</a>
    <a [routerLink]="'stadistics'" class="menu-item">
      <img src="/img/statistics_logo.png"> Estadísticas</a>
    <a [routerLink]="'histories'" class="menu-item">
      <img src="/img/payments_logo.png"> Pagos</a>
  </section>
</div>
<router-outlet />
